h2 {
  font-size: 22px;
  font-weight: 600;
}

h3 {
  margin: 0;
}

table,
th,
td,
tbody {
  border: none !important;
  border-collapse: collapse;
}

.buttons,
.keyboard-shortcuts-btn {
  display: none;
}

#on-img {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-inline: 5rem;
}

#share-save-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

#share-save-btns button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  gap: .5rem;
  font-weight: 600;
  font-size: 14px;
  text-decoration: underline;
}

.central-container {
  display: flex;
  padding-left: 5rem;
}

.side-container {
  display: flex;
  width: 100%;
  margin-inline: 5rem;
  justify-content: center;
  box-sizing: border-box;
}

.description-container {
  max-width: 60%;
  min-width: 480px;
  padding-right: 1rem;
}

.insertion-pictures {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 28rem;
}

#img-container1 {
  flex: 0 0 50%; /* Immagine grande */
  display: flex;
  justify-content: center;
}

#img-container1 img {
  width: 100%; /* Occupare tutto lo spazio */
  height: auto;
  border-radius: 10px 0 0 10px;
  object-fit: cover;
}

#img-container2,
#img-container3 {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  flex: 0 0 25%;
}

#img-container2 img,
#img-container3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#img-container2 img:first-child,
#img-container3 img:first-child {
  margin-bottom: 10px;
}

#img-container3 img:first-child{
  border-radius: 0 10px 0 0;
}

#img-container3 img:last-child{
  border-radius: 0 0 10px 0;
}

#img-container3 {
  margin-left: 10px;
}

#more-pics-wrapper {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 10;
}

.more-pics-btn {
  border: 1px solid #222;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: .5rem 1rem;
  gap: .5rem;
}

#more-pics-wrapper {
  display: none;
}

.check-in-calendar {
  display: flex;
}

.calendars-container {
  display: flex;
  gap: 1rem;
}

.calendars-container table {
  width: 20rem;
}

.current-month h3,
.next-month h3 {
  text-align: center;
  margin-top: 2rem;
}

.calendar-tab th,
.calendar-tab td {
  padding: .8rem;
}

#start,
#end {
  background-color: #222;
  color: white;
  border-radius: 50%;
}

.during {
  background-color: #eee;
  border-inline: 2px solid #eee !important;
}

.calendar-footer {
  display: flex;
  flex-direction: row-reverse;
}

.reset-dates-btn {
  background-color: transparent;
  text-decoration: underline;
  font-weight: 600;
  border: none;
}

#reviews {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  justify-content: center;
  border-radius: 15px;
  width: fit-content;
  padding-block: 1rem;
  margin-top: 2rem;
  max-width: 660px;
  min-width: 400px;
}

#reviews p {
  margin-inline: .5rem;
  font-weight: 600;
  text-align: center;
}

.left-gold-laurel {
  margin-left: .5rem;
}

.loved-by-guests {
  display: flex;
  align-items: center;
  justify-content: center;
  /* max-width: 300px; */
  min-width: 200px;
  flex: 1;
}

.loved-title {
  text-align: center;
  font-weight: 600;
  padding: 0 4px 4px;
}

#review-stars {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 180px;
  min-width: 100px;
  /* flex: 1; */
}

#insertion-rating {
  font-weight: 600;
  font-size: 18px;
}

.stars {
  display: flex;
  /* gap: 2px; */
}

.stars svg {
  height: 8px !important;
}

.reviews-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 180px;
  min-width: 100px;
  /* flex: 1; */
}

#num {
  font-size: 18px;
  font-weight: 600;
}

#reviews-text-underlined {
  font-weight: 600;
  font-size: smaller;
  text-decoration: underline;
  transform: translateY(-3px);
}

.spacer {
  width: 1px;
  height: 2.5rem;
  background-color: #ccc;
}

.host-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  padding-block: 1.5rem;
  border-bottom: 1px solid #ccc;
}

#host-pic {
  height: 2.5rem;
}

#host-name-gen {
  font-weight: 600;
  font-size: 16px;
}

#host-experience {
  font-size: 14px;
  color: #717171
}

#more-pics-wrapper {
  position: absolute;
  z-index: 100;
  bottom: 120px;
  right: 80px;
  display: flex;
  flex-direction: row-reverse;
}

.insertion-pictures {
  display: flex;
  margin-inline: 5rem;
  margin-bottom: 1rem;
}

.amenities-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
  margin-bottom: 1.5rem;
}

.amenity {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
}

.amenity p {
  font-size: 16px;
}

.amenity-logo {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.booking-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 24px;
  box-shadow: 5px 5px 20px #ddd;
  max-width: 350px;
  flex: 1;
  justify-content: center;
}

.insertion-price {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 24px;
}

.insertion-price > div > span:last-child {
  font-weight: 500;
  font-size: 16px;
}

.mini-calendar {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  font-family: Arial, sans-serif;
  max-width: 300px;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.mini-calendar-up {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.mini-check-in, .mini-check-out {
  flex: 1;
  padding-inline: 12px;
  padding-block: 10px;
  box-sizing: border-box;
  text-align: left;
}

.mini-check-out {
  border-left: 1px solid #ccc;
}

.mini-cal-element {
  display: block;
  font-size: 0.625rem;
  font-weight: bold;
  color: #222;
}

.mini-cal-date {
  font-size: 14px;
  color: #000;
}

.mini-calendar-down {
  padding-inline: 12px;
  padding-block: 10px;
  box-sizing: border-box;
  text-align: left;
}

.mini-cal-guests {
  font-size: 14px;
  color: #000;
}

.mini-cal-btn {
  text-align: center;
  margin-top: 1rem;
  flex: 1;
}

.mini-cal-btn button {
  font-weight: 600;
}

.mini-cal-btn button {
  width: 100%;
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  background: radial-gradient(circle at center,#FF385C 0%,#E61E4D 27.5%,#E31C5F 40%,#D70466 57.5%,#BD1E59 75%,#BD1E59 100%);
  color: white;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  --mouse-x: 50%;
  --mouse-y: 50%;
  background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), #FF385C, #BD1E59);
  transition: background-position 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#no-charge {
  margin-top: 0.5rem;
  text-align: center;
}

#calculate-price,
#service-price-wrapper,
#total-tax-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#calculate-price p,
#service-price-wrapper p,
#total-tax-wrapper p {
  font-size: 16px;
}

#calculate-price,
#service-price-wrapper {
  margin-top: 16px;
}

#price-book,
#service-price-wrapper p:first-child {
  text-decoration: underline;
}

#total-tax-wrapper {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid #ccc;
}

#total-tax-wrapper p {
  font-weight: 600;
}

#side-elements {
  position: sticky;
  top: 7rem;
  /* max-width: 300px; */
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

#unique-occasion {
  display: flex;
  align-items: normal;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 1.5rem;
  margin-top: 1.5rem;
  gap: 1rem;
}

.unique-text h2 {
  font-size: 16px;
  margin: 0;
  margin-bottom: .3rem;
}

.unique-text p {
  color: #717171;
}

.diamond-img {
  transform: translateY(3px);
}

.report-insertion {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  gap: .5rem;
}

.report-insertion svg,
.report-insertion p {
  color: #555;
  font-weight: bold;
  text-decoration: underline;
}

.show-more-servs-btn {
  border: 1px solid #222;
  border-radius: 8px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 23px;
  font-weight: 600;
  font-size: 16px;
}

.more-infos-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  gap: .5rem;
  background-color: transparent;
  border: none;
  font-weight: 600;
  text-decoration: underline;
  margin-top: 1rem;
}

#insertion-infos {
  font-size: 1.125rem;
  margin-top: 1.5rem;
}

.general-infos {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
}

.general-infos h3 {
  margin: 0;
}

.best-of-insertions,
.best-position,
.cancellation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-block: 1rem;
}

.paragraph-pic img {
    height: 1.5rem;
}

.lower-container {
  margin-top: 4rem;
  padding-top: 4rem;
  margin-inline: 5rem;
  border-top: 1px solid #ccc;
}

#big-laurel-rating {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.rating-score h1 {
  font-size: 6.25rem;
  font-weight: 600;
  margin: 0;
  margin-top: -1.5rem;
}

.left-laurel img,
.right-laurel img {
  width: 5.375rem;
  height: 8.25rem;
}

.loved-by-guests-big {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.loved-by-guests-big h3 {
  font-weight: 600;
  font-size: 1.375rem;
}

.loved-by-guests-big p {
  font-size: 1.125rem;
  color: #555;
}

.rating-and-reviews {
  display: flex;
  margin-block: 3rem;
  justify-content: space-around;
  height: 8rem;
}

.categories-rating {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
}

.categories-rating span {
  font-weight: 600;
  transform: translateY(-24px);
}

.rating-and-reviews div:not(:nth-child(2)) {
  border-left: 1px solid #ccc;
  padding-left: 3rem;
}

.complete-reviews {
  display: none;
}

.overall-rating {
  display: none;
}

.hidden-navbar {
  display: none;
  top: 0;
  width: -webkit-fill-available;
  padding: 0 40px;
  background-color: white;
  border-bottom: 1px solid #eee;
}

.hidden-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hidden-navbar.visible {
  display: block;
  position: fixed;
}

.flex-hidden {
  display: flex;
  gap: 15px;
  align-items: center;
}

.flex-hidden p {
  font-size: 0.75rem;
}

.gap-5 {
  gap: 5px;
}

.column-hidden {
  display: flex;
  flex-direction: column;
}

.show-after-pictures {
  display: flex;
  gap: 25px;
}

.show-after-pictures button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 25px 0;
  font-weight: 550;
}

.show-after-calendar {
  display: none;
  padding: 15px 0;
}

.show-after-calendar.visible {
  display: block;
}

.column-hidden div #price-check-in {
  font-size: 1rem;
  font-weight: 600;
}

#small-rating-score {
  font-weight: 600;
}

.booking-btn button {
  padding: 15px 45px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background: radial-gradient(circle at center, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100%);
  border: none;
  border-radius: 8px;
  --mouse-x: 50%;
  --mouse-y: 50%;
  background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), #FF385C, #BD1E59);
  transition: background-position 0.1s;
  cursor: pointer;
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.complete-reviews {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.review-container {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
  margin-bottom: 40px;
  gap: 5px;
}

.user-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-picture {
  width: 48px;
  height: 48px;
}

.review-stars, .row-review {
  display: flex;
  align-items: center;
}

.row-review {
  gap: 5px;
}

.user-name h3 {
  font-size: 1rem;
  font-weight: 600;
}

.review-date p {
  font-weight: 600;
}

.review-content p {
  font-size: 1rem;
}

.show-more-reviews-btn {
  border: 1px solid #222;
  border-radius: 8px;
  padding: 12px 28px;
  font-size: 1rem;
  font-weight: 600;
  background: none;
  cursor: pointer;
}

.show-more-reviews-btn:hover {
  background-color: #f2f2f2;
}

.more-abt-reviews-btn {
  border: none;
  background: none;
  text-decoration: underline;
  margin-left: 10px;
  cursor: pointer;
  color: #555;
}

@media (max-width: 920px) {
  .side-container {
    transform: translateX(-5rem);
  }
}



#mini-search {
  display: inline-flex;
  z-index: 150;
  width: 28rem;
  height: 3rem;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  border-radius: 30px;
  background-color: white;
  border: none;
  box-shadow: 1px 1px 5px #ccc;
  font-weight: 600;
  font-family: 'Circular', sans-serif;
  transition: 0.3s;
  /* position: fixed; */
  /* flex: 1; */
  overflow: auto;
  white-space: nowrap;
  transform: none;
  opacity: 1;
}

@media (max-width: 795px) {

}