/* Rimuovo i margini del DOC per riempire la pagina */

html, body{
  margin: 0;
  padding: 0;
  font-family: 'Cereal', sans-serif;
  background-color: #e7e7e2;
}

/* Font originale AirBnb */

@font-face {
  font-family: 'Cereal';
  src: url('assets/font/AirbnbCereal_W_XBd.otf') format('opentype');
  src: url('assets/font/AirbnbCereal_W_Bd.otf') format('opentype');
  src: url('assets/font/AirbnbCereal_W_Bk.otf') format('opentype');
  src: url('assets/font/AirbnbCereal_W_Blk.otf') format('opentype');
  src: url('assets/font/AirbnbCereal_W_Md.otf') format('opentype');
  src: url('assets/font/AirbnbCereal_W_Lt.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.new-features-head {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e7e2;
  max-width: 100%;
  height: 64px;
}

#icon-button {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  font-size: 0.9rem;
}

#small-logo {
  display: none;
  height: 30px;
}

#full-logo {
  height: 55px;
}

/* Utilizzo del media query per la responsività del logo (switch da logo con titolo a solo logo) */

@media (max-width: 1125px) {
  #full-logo {
    display: none;
  }
  #small-logo {
    display: inline;
  }
}

.navbar {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px 0px 4px rgb(175, 175, 175);
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  font-family: 'Cereal', sans-serif;
  background-color: white;
}

.middle-links > button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.middle-links > button:hover {
  border-radius: 30px;
  border: none;
  background-color: #f2f2f2;
  
}

.search-bar {
  display: inline-block;
  border: 1px solid black;
  border-radius: 30px;
}

/* funzionalità menu hamburger (da verificare lo stile successivamente) */

.user-menu {
  position: relative;
  display: inline-block;
}

.menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
}

.user-menu-open {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
  width: 200px;
}

.user-menu-open a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 8px 16px;
}

.user-menu-open a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}

/* Funzionalità menu "Dove" (Searchbar) (Da verificare lo stile successivamente) */

.place {
  position: relative;
  width: 300px;
  margin: 20px;
}

.place-input {
  display: flex;
  align-items: center;
}

.place-panel.hidden {
  display: none;
}

.place-panel {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  border-radius: 15px;
}

.regions {
  display: flex;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.grid-item {
  text-align: center;
}

.grid-item button {
  background: none;
  border: none;
  cursor: pointer;
  text-align: center;
}

.grid-item img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.grid-item p {
  margin-top: 5px;
  font-size: 12px;
  color: #333;
}

.grid-item :hover {
  background-color: #f1f1f1;
  border-radius: 10px;
}