:root {
  --air-gray: #6a6a6a
}

/* Rimuovo i margini del DOC per riempire la pagina */

html, body{
  margin: 0;
  /* margin-top: 10px; */
  padding: 0;
  font-family: 'Cereal', sans-serif;
}

/* Font originale AirBnb */

@font-face {
  font-family: 'Cereal';
  src: url('../assets/font/AirbnbCereal_W_XBd.otf') format('opentype');
  font-weight: 800; /* Extra Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Cereal';
  src: url('../assets/font/AirbnbCereal_W_Bd.otf') format('opentype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Cereal';
  src: url('../assets/font/AirbnbCereal_W_Bk.otf') format('opentype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Cereal';
  src: url('../assets/font/AirbnbCereal_W_Blk.otf') format('opentype');
  font-weight: 900; /* Black */
  font-style: normal;
}

@font-face {
  font-family: 'Cereal';
  src: url('../assets/font/AirbnbCereal_W_Md.otf') format('opentype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Cereal';
  src: url('../assets/font/AirbnbCereal_W_Lt.otf') format('opentype');
  font-weight: 300; /* Light */
  font-style: normal;
}

#small-logo {
  display: none;
  height: 30px;
}

#full-logo {
  height: 55px;
}

/* Utilizzo del media query per la responsività del logo (switch da logo con titolo a solo logo) */

@media (max-width: 1125px) {
  .logo-l {
    display: none;
  }
  .logo-s {
    display: inline;
  }
}

header {
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;

}

.navbar {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-family: 'Cereal', sans-serif;
  background-color: white;
  height: 80px;
}

.logo-s {
  display: none;
}

.m-80 {
  /* margin-top: 24px; */
  margin-left: 80px;
}

.middle-links {
  display: flex;
  gap: 20px;
}

.middle-links > button > a {
  text-decoration: none;
  color: #222;
  font-size: 16px;
}

.middle-links > button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.middle-links > button:hover {
  border-radius: 30px;
  border: none;
  background-color: #f2f2f2;
  
}

.side-menu {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 80px;
}

.lang-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
}

.lang-menu-btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}

.lang-menu-btn:hover {
  background-color: #f2f2f2;
  border-radius: 50%;
}

.lang-menu-btn > button:hover {
  cursor: pointer;
}

#link-affitto {
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: #333;
}

.search-bar {
  display: inline-block;
  border: 1px solid black;
  border-radius: 30px;
}

/* funzionalità menu hamburger (da verificare lo stile successivamente) */

.user-menu {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid #dedede;
  border-radius: 50px;
  height: 48px;
  width: 80px;
}

.menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 14px;
}

.hamburger {
  margin-right: 10px;
}

.user-pic {
  width: 30px;
}

.user-menu-open {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
  width: 200px;
}

.user-menu-open a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 8px 16px;
}

.user-menu-open a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}

/* Funzionalità menu "Dove" (Searchbar) (Da verificare lo stile successivamente) */

.place {
  position: relative;
  width: 300px;
  margin: 20px;
}

.place-input {
  display: flex;
  flex-direction: row;
}

.place-panel.hidden {
  display: none;
}

.place-panel {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  border-radius: 15px;
}

.regions {
  display: flex;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-item {
  text-align: center;
}

.grid-item button {
  background: none;
  border: none;
  cursor: pointer;
  text-align: center;
  padding-top: 10px;
}

.grid-item img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.grid-item p {
  margin-top: 5px;
  font-size: 12px;
  color: #333;
  position: relative;
}

.grid-item :hover {
  background-color: #f1f1f1;
  border-radius: 10px;
}

/*  */

/* Stili per la search bar */
/* Generali */
.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 50px;
  background-color: white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  height: 66px;
}

.place,
.dates,
.guests-search {
  flex: 1;
  display: flex;
  /* flex-direction: column; */
  /* position: relative; */
}

.place label,
.check-in,
.check-out,
.guests {
  display: flex;
  flex-direction: column;
}

.place-input,
.check-in,
.check-out,
.guests {
  cursor: pointer;
  padding: 10px;
  border-radius: 25px;
  transition: background-color 0.3s;
}

.place-input:hover,
.check-in:hover,
.check-out:hover,
.guests:hover {
  background-color: #f7f7f7;
}

input[type="search"] {
  border: none;
  outline: none;
  padding: 5px;
  width: 100%;
}

.tag {
  font-size: 12px;
  font-weight: normal;
  color: #222;
}

p {
  margin: 0;
  font-size: 14px;
  color: #222;
}

.place-panel,
.calendar-container,
.guests-menu {
  position: absolute;
  top: 55px;
  left: -30px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 380px;
  height: 345px;
  padding: 32px 24px 24px 24px;
  margin-top: 12px;
}

.hidden {
  display: none;
}

/* Grid per le immagini */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 6px;
  height: 311px;
  width: 380px;
}

.grid-item {
  text-align: left !important;
}

.grid-item button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-item img {
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 109px;
  height: 109px;
  object-fit: cover;
}

/* Calendario */
.calendar-navbar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.calendar-buttons button {
  background: none;
  border: none;
  font-size: 14px;
  color: #717171;
  cursor: pointer;
}

.calendar-buttons button:hover {
  text-decoration: underline;
}

.calendar-week-days,
.calendar {
  padding: 10px;
}

.week-days {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.week-days .day {
  font-size: 12px;
  color: #717171;
}

.calendar-tab {
  width: 100%;
  border-collapse: collapse;
}

.calendar-tab td,
.calendar-tab th {
  border: 1px solid #ccc;
  text-align: center;
  padding: 5px;
}

.calendar-foot {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.calendar-foot label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.calendar-foot input[type="radio"] {
  margin-right: 10px;
}

/* Bottoni di navigazione del calendario */
.prev-month-button,
.next-month-button,
.move-back-button,
.move-forward-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.prev-month-button {
  left: 10px;
}

.next-month-button {
  right: 10px;
}

.move-back-button {
  left: 10px;
}

.move-forward-button {
  right: 10px;
}

/* Pulsante di ricerca */
.search-button button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff385c;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  height: 50px;
  width: 50px;
}

.search-button button:hover {
  background-color: #e03352;
}

.search-button svg {
  margin-right: 5px;
}

/* Menu ospiti */
.guests-menu-container {
  padding: 10px;
}

.guests-menu-container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.guests-menu-container h1 {
  font-size: 16px;
  margin: 0;
}

.guests-menu-container p {
  font-size: 12px;
  color: #717171;
}

.guests-menu-container button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.guests-menu-container svg {
  height: 20px;
  width: 20px;
  fill: #717171;
}

.guests-menu-container span {
  font-size: 14px;
  margin: 0 10px;
}

.dates {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.check-in, .check-out {
  flex: 1;
}

.guests-search {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-button {
  display: contents;
}

.guests, .search-button {
  flex: 1;
}
/* 
#magnifier {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.lines-btw-els {
  border-right: 1px solid #ddd;
  flex: 0 0 0;
  height: 32px;
  align-self: center;
  box-sizing: border-box;
}

.icons-img {
  height: 24px;
  width: 24px;
  opacity: 0.6742081447963801;
  transition: 0.2s;
}

.icons-img:hover {
  opacity:unset;
}

.stay-choices-nav {
  
padding: 0px 80px;
}

.stay-choices-elements {
  display: flex;
  gap: 40px;
  font-size: smaller;
  height: 78px;
  align-items: center;
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;
}

.stay-choices-elements::-webkit-scrollbar {
  display: none;
}

input[type="radio" i] {
  display: none;
}

.place-choice {
  text-align: center;
  display: inline-block;
  white-space: nowrap;
}

.buttons {
  position: relative; /* Imposta la posizione assoluta per i bottoni */
  top: 0;
  left: 0;
  width: 100px; /* Larghezza del div dei bottoni */
  padding: 0px 40px;
}

.left-button {
  position: relative; /* Posiziona il bottone a sinistra */
  left: 0;
  top: 0;
}

.right-button {
  position: relative; /* Posiziona il bottone a destra */
  right: 0;
  top: 0;
}
footer {
  background-color: #fafafaee;
}
.footer-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 10px;
  font-size: 0.9rem;
}
.footer-list li {
  color: #222;
  font-weight: 500;
}
.footer-list a {
  text-decoration: none;
  font-weight: 300;
  color: #222;
}
.footer-list a:hover {
  text-decoration: underline;
}
.links-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-evenly;
  padding-top: 45px;
  padding-bottom: 45px ;
  border-bottom: 1px solid #ddd;
}
.foot-final-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.copyright-links {
  display: flex;
  flex-direction: row;
  color: #222;
  gap: 8px;
  font-weight: 300;
  font-size: 0.87rem;
}
.copyright-links a {
  text-decoration: none;
  color: inherit;
}
.copyright-links a:hover {
  text-decoration: underline;
}
.local-info-foot {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.lang-foot {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1px;
  color: #222;
  font-size: 0.87rem;
  font-weight: 500;
}
.lang-foot:hover {
  text-decoration: underline;
}
.lang-foot button {
  border: none; 
  background: none; 
  cursor: pointer;
}
.currency {
  color: #222;
  font-weight: 500;
}
#curr-spell {
  font-size: 0.87rem;
}
#curr-spell:hover {
  text-decoration: underline;
}
.local-info-foot a {
  text-decoration: none;
  color: #222;
}