body {
  font-family: Arial, sans-serif;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  border-radius: 10px;
  overflow: hidden;
}

.card-image {
  position: relative;
}

.card-image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 15px;
}

.favorite-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  height: 15px;
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content {
  padding: 15px;
}

.location {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.host {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}

.rating-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating {
  font-size: 16px;
  color: #f39c12;
}

.price {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}
